.list {
    list-style-type: circle;
}

.list > li {
    margin-left: 2rem;
}
.list > li[data-extra="true"] {
    margin-left: 4rem;
}

.list > li > a:hover {
    color: var(--color-typo-link-minor)
}